<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Demo - ${self.demo_name()}</title>
<script type="text/javascript" src="onering://onering/onering.js"></script>
<script type="text/javascript" src="onering://demo/static/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
    ${self.js()}
</script>
${self.extra_head()}
<style type="text/css">
    ${self.css()}
</style>
</head>
<body>
    ${next.body()}
</body>
</html>

<%def name="demo_name()"></%def>

<%def name="js()"></%def>
<%def name="extra_head()"></%def>
<%def name="css()"></%def>
