<%inherit file="/demo_base.html" />

<%def name="demo_name()">System Tray Icon</%def>

<%def name="js()">
$(function(){
        var w = ONERING.getCurrentWindow();
        var icon = new ONERING.SystemTrayIcon('/static/systrayicon.ico');
        var menu = new ONERING.Menu([
            ["Mi&nimize", function(){w.hide();}],
            ["Ma&ximize", function(){w.maximize();}],
            ["&Restore", function(){w.showNormal();}],
            ONERING.Menu.SEPARATOR,
            ["&Quit", function(){ONERING.exit();}],
        ]);
        icon.setContextMenu(menu);
        $(window).unload(function(){
                menu.destroy();
                icon.destroy();
        });
});
</%def>

Click the icon in the system tray to show the menu.
