<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Demo - ${self.demo_name()}</title>
<script type="text/javascript" src="onering://onering/onering.js"></script>
<script type="text/javascript" src="onering://demo/static/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
    ${self.js()}
</script>
</head>
<body>
    ${next.body()}
</body>
</html>

<%def name="demo_name()"></%def>

<%def name="js()"></%def>
